.main-container {
    display: flex;
    width: 900px;
    border: 1px solid #999;
    margin: 0 auto;
    margin-top: 20px;
}

.todo-list {
    width: 100%;
    background-color: #3b5998;
    padding: 10px;
    color: #FFF;
}
